@model IEnumerable<BookStore.Models.Book>

@{
    ViewData["Title"] = "Books List";
}

<link rel="stylesheet" href="~/css/styles.css">
<link rel="stylesheet" href="~/css/bookstore.css">
<script src="~/js/scripts.js"></script>

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-dark">Create New</a>
</p>
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.Title)</th>
            <th>@Html.DisplayNameFor(model => model.Description)</th>
            <th>@Html.DisplayNameFor(model => model.Author.FullName)</th>
            <th>Book Image</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>@Html.DisplayFor(modelItem => item.Author.FullName)</td>
                <td>
                    @if (item.ProfilePicture != null)
                    {
                        <img src="@item.imageSrc" style="width:80px;" class="img-thumbnail" />
                    }
                    else
                    {
                        <img src="~/Image/unknown.png" style="width:80px;" class="img-thumbnail" />
                    }
                </td>
                <td>
                    <div class="btn-group" role="group" aria-label="Action Buttons">
                        <a class="btn btn-custom-edit" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-custom-details" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <a class="btn btn-custom-delete" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
